<!-- Specify which template to extend -->
{% extends 'base.html' %}

<!-- Add content to the content block in the main template -->
{% block content %}
<h1>Confirmation Number - {{ reservation.id }}</h1>
<table class="table">
    <tr>
        <td><strong>Number of People</strong></td>
        <td>{{ reservation.num_people}}</td>
    </tr>
    <tr>
        <td><strong>Total Cost</strong></td>
        <td>${{ reservation.total_cost}}</td>
    </tr>
</table>
<table class="table">
    <tr>
        <td><strong>Airline: </strong></td>
        <td>{{reservation.flight.airline.airline_name}}</td>
    </tr>
    <tr>
        <td><strong>Flight Number: </strong></td>
        <td>{{reservation.flight.airline.airline_code}}{{reservation.flight.flight_number}}</td>
    </tr>
    <tr>
        <td><strong>Departing Airport & Time: </strong></td>
        <td>{{reservation.flight.origin.airport_code}} - {{reservation.flight.departure}}</td>
    </tr>
    <tr>
        <td><strong>Arriving Airport & Time: </strong></td>
        <td>{{reservation.flight.destination.airport_code}} - {{reservation.flight.arrival}}</td>
    </tr>
</table>
<!--<table>
    <tr>
        <th>Seat</th>
        <th>Class</th>
        <th>Seat Cost</th>
    </tr>
    <td>{{ticket.seat}}</td>
    <td>{{reservation.ticket.class}}</td>
    <td>{{reservation.tickets.cost}}</td>
</table> -->
<!-- 5 Extra Credit Points  Create a table that displays the flight information -->
<!-- This should display the airline, flight number, arrival and departure airports, and arrival and departure times -->

<!-- 5 Extra Credit Points Create a table that displays the ticket information -->
{% endblock %}